.style1 {
			width: 709px;
		}

		.style11 {
			height: 23px;
			font-size: small;
		}

		.style12 {
			width: 100%;
		}

		.style16 {
			width: 226px;
		}

		.style17 {}

		.style18 {
			width: 673px;
		}

		.style19 {}

		.style20 {
			width: 273px;
		}

		.style22 {
			width: 327px;
		}

		.style24 {
			width: 280px;
		}

		.style25 {
			width: 270px;
		}